#chart-area svg {
	margin-left: auto;
    margin-right: auto; 
	display: block;
	
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

div.tooltip {	
    position: absolute;			
    /* text-align: center;	*/
    padding: 8px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;		

}